# TOML file for syncfbevents
# Rename to conf.toml.
FacebookID = "111111111111111"
FacebookSecret = "11111111111111111111111111111111"
BaseURL = "http://localhost:8000"
PostgresDataSource = "sslmode=disable dbname=sfe user=sfe"
