{{define "body"}}
<header class="intro">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <p>Sync only the Facebook events you are attending (not events that you are invited to) with your Google Calendar, Microsoft Outlook, and Apple iCal.</p>
          <p>This site is not affiliated with Facebook.</p>
          {{if .Name}}
          <p>Welcome, {{.Name}}.</p>
          {{else}}
          <p>Login with <a href="/login">Facebook</a>.</p>
          {{end}}{{/* if .Name */}}
        </div><!-- col -->
      </div><!-- row -->
      {{if .Name}}
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <p>To import the Facebook events you are attending into your calendar, first copy the link below.</p>
          <div class="form-group">
            <input id="cal-url"
                   data-toggle="tooltip"
                   data-placement="top"
                   title="Copy this URL."
                   class="form-control"
                   type="text"
                   readonly="readonly"
                   value="{{.CalendarURL}}" >
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <p>Then, follow the instructions below to import your Facebook events into your calendar.</p>
          <ul class="calendar-links">
            <li><a href="https://support.google.com/calendar/answer/37100?hl=en">Google Calendar</a></li>
            <li><a href="https://support.apple.com/en-us/HT201747">Apple iCal</a></li>
            <li><a href="https://support.office.com/en-us/article/View-and-subscribe-to-Internet-Calendars-f6248506-e144-4508-b658-c838b6067597?CorrelationId=80a7cec7-97f0-4f82-9221-22a1e387f2f8&ui=en-US&rs=en-US&ad=US#BM2">Microsoft Outlook</a></li>
          </ul>
        </div>
      </div>
      {{end}}{{/* if .Name */}}
    </div>
  </div>
</div>
</header>
{{end}}{{/* define "body" */}}
