<html>
  <title>Sync Events</title>
  <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <!--<link rel="stylesheet" type="text/css" href="/bower_components/-->
  <link rel="stylesheet" type="text/css" href="/bower_components/octicons/octicons/octicons.css">
  <link rel="stylesheet" type="text/css" href="/res/css/grayscale.css">
  <link rel="stylesheet" type="text/css" href="/res/css/syncfbevents.css">
  <body>
    {{template "body" .}}
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/res/js/grayscale.js"></script>
    <script src="/res/js/syncfbevents.js"></script>
  </body>
</html>
